<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder charset="UTF-8">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{30} [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <File>../logs/golf.log</File>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/golf.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>../logs/golf.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
        </rollingPolicy>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <maxFileSize>5MB</maxFileSize>
        </triggeringPolicy>
        <encoder charset="UTF-8">
            <pattern>%-20(%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread]) %-5level %logger{80} - %msg%n</pattern>
        </encoder>
    </appender>
    <!-- Application Loggers -->
    <logger name="com.se" level="DEBUG" />
    
    <!-- 3rdparty Loggers -->
    <logger name="org.springframework" level="WARN" />
    <logger name="org.hibernate" level="WARN" />
    <logger name="net.sf.ehcache" level="WARN" />
    <logger name="ch.qos.logback" level="WARN" />
    <!-- log4j -->
    <logger name="jdbc.sqlonly" level="ERROR" />
    <logger name="jdbc.sqltiming" level="INFO" />
    <logger name="jdbc.audit" level="ERROR" />
    <logger name="jdbc.resultset" level="ERROR" />
    <logger name="jdbc.connection" level="ERROR" />
    <!-- Root Logger -->
    <root level="ERROR">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>
</configuration>
