.calendarTable {
	border-collapse:separate!important;
	box-sizing: inherit!important;
	border-spacing:1px;
	background-color:#C0C0BF;
}

.calendarTable thead {
	text-align:center;
	text-decoration:none;	
}

.calendarTable thead th {
	width:100px; 
	height:32px;
	vertical-align:middle;
	text-align:center;
	background-image:url(th_bg.gif);
}

.calendarTable thead .thHeader {
	height:40px;
	background-image:none;
	background-color:#E5E5E5;
}

.calendarTable thead .thHeader .calendar-header-left {
	float:left;
	display:block;
	height:40px;
	width:40px;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	vertical-align:middle;
	background-image:url(left_bg.gif);
	cursor:pointer;
}

.calendarTable thead .thHeader .calendar-header-center {
	float:left;
	display:block;
	width:598px;
	height:40px;
	line-height:40px;
	vertical-align:middle;
}

.calendarTable thead .thHeader .calendar-header-right {
	float:right;
	display:block;
	height:40px;
	width:40px;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	vertical-align:middle;
	background-image:url(right_bg.gif);
	cursor:pointer;
}
.calendarTable thead .thHeader  .calendar-header-right-today {
	float:right;
	display:block;
	height:40px;
	width:40px;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	vertical-align:middle;
	background-image:url(today_bg.gif);
	cursor:pointer;
}

.calendarTable thead .thHeader  .calendar-header-center .calendar-header-center-left {
	float:left;	
	height:40px;
	width:250px;
	text-decoration:none;
	text-align:right;
	line-height:40px;
	vertical-align:middle;
}

.calendarTable thead .thHeader  .calendar-header-center .calendar-header-center-right {
	float:right;
	height:40px;
	width:250px;
	text-decoration:none;
	text-align:center;
	line-height:40px;
	vertical-align:middle;
}

.calendarTable tbody td {
	width:100px;
	height:68px;
	margin:0px;
	padding:0px;
}

.calendarTable tbody td .calendar-div {
	position:relative; 
	width:100px; 
	height:68px; 
	background-color:#FFFFFF;
	border:2px #FFFFFF solid;
}

.calendarTable tbody td .calendar-div-over {
	border:2px #990000 solid;
}

.calendarTable tbody td .calendar-div-nocurrmonth {
	background-color:#ECECEC;
}

.calendarTable tbody td .calendar-div-today {
	background-color:#FFC8C8;
}

.calendarTable tbody td .calendar-div-topdiv {
	position:absolute; 
	width:98px; 
	height:38px; 
	top:0px; 
	left:0px;
}

.calendarTable tbody td .calendar-div-topdiv-left {
	display:block; width:60px; height:38px; float:left; text-align:left;line-height:38px;vertical-align:middle;
}

.calendarTable tbody td .calendar-div-topdiv-right {
	display:block; width:38px; height:38px; float:left; text-align:center; vertical-align:middle; line-height:38px;
}

.calendarTable tbody td .calendar-div-bottomdiv {
	position:absolute; 
	width:98px; 
	height:26px; 
	line-height:26px; 
	top:38px; 
	left:0px; 
	text-align:center; 
	vertical-align:middle; 
	padding:0px 0px 0px 0px;
}

.calendarTable tbody td .calendar-div-day-font-nocurrmonth {
	font-size:24px; font-weight:bold; font-family:'黑体'; color:#999999;
}

.calendarTable tbody td .calendar-div-day-font-currmonth {
	font-size:24px; font-weight:bold; font-family:'黑体'; color:#000000;
}

.calendarTable tbody td .calendar-div-lday-font-nocurrmonth {
	font-size:14px; font-family:'幼圆'; margin-left:8px;
}

.calendarTable tbody td .calendar-div-lday-font-currmonth {
	font-size:14px; font-family:'幼圆'; margin-left:8px;
}

.calendarTable tbody td .calendar-div-day-font-holiday {
	color:#336699
}

.calendarTable tbody td .calendar-div-holiday {
	background-color:#FFC8C8;
}

.calendarTable tbody td .calendar-div-bottom-font {
	font-size:14px; font-family:'幼圆';
}

.calendarTable tbody td .calendar-div-bottom-font-holiday {
	font-size:14px; font-family:'幼圆'; color:#FF0000;
}

.calendarTable tbody td .calendar-div-selected {
	background-color:#990000;
}
/*
#calendarYear {
	width:65px;
	height:22px;
	line-height:22px;
	font-size:100%;
	border: 1px #C0C0BF solid; 
}
#calendarYear {
	height:22px;
	line-height:22px;
}

#calendarMonth {
	width:45px;
	height:22px;
	line-height:22px;
	font-size:100%;
	border: 1px #C0C0BF solid; 
}
*/